root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json, hjson}]
indent_style = tab

[*.js]
indent_style = tab

[*.{sass, scss, styl, sss}]
indent_style = tab

[*.php]
indent_style = tab
