nav.navigation
	a.m-home(href="#") Главная
	a.m-book(href="#") Статьи
	a.m-comments(href="#") Комментарии
	a.m-globe(href="#") Карты
	a.m-pin(href="#") Локация
	a.m-user(href="#") Пользователи
	a.m-facebook(href="#") Фэйсбук
	a.m-instagram(href="#") Инстаграм
	a.m-trash(href="#") Корзина
