html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
body,
input,
button,
textarea {
  font-family: Arial, sans-serif;
}
input,
button,
textarea {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  background: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
em,
i {
  font-style: italic;
}
b,
strong {
  font-weight: bold;
}
.header {
  text-align: center;
  padding: 30px 0 10px;
}
.header h1 {
  font-size: 24px;
  font-weight: bold;
}
.navigation {
  padding: 30px 20px;
  text-align: center;
}
.navigation a {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  padding: 0 0 0 25px;
  color: #0c97cb;
  text-decoration: none;
}
.navigation a:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.navigation a:hover {
  color: #ee4e23;
}
.navigation a.m-home:before {
  background-image: url("../images/design/sprite.png");
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.navigation a.m-home:hover:before {
  background-position: -54px -36px;
  width: 16px;
  height: 16px;
}
.navigation a.m-book:before {
  background-image: url("../images/design/sprite.png");
  background-position: -18px 0px;
  width: 16px;
  height: 16px;
}
.navigation a.m-book:hover:before {
  background-position: -54px -18px;
  width: 16px;
  height: 16px;
}
.navigation a.m-comments:before {
  background-image: url("../images/design/sprite.png");
  background-position: 0px -18px;
  width: 16px;
  height: 16px;
}
.navigation a.m-comments:hover:before {
  background-position: -18px -18px;
  width: 16px;
  height: 16px;
}
.navigation a.m-globe:before {
  background-image: url("../images/design/sprite.png");
  background-position: -36px -36px;
  width: 16px;
  height: 16px;
}
.navigation a.m-globe:hover:before {
  background-position: -54px 0px;
  width: 16px;
  height: 16px;
}
.navigation a.m-pin:before {
  background-image: url("../images/design/sprite.png");
  background-position: -72px -54px;
  width: 12px;
  height: 16px;
}
.navigation a.m-pin:hover:before {
  background-position: -72px -36px;
  width: 12px;
  height: 16px;
}
.navigation a.m-user:before {
  background-image: url("../images/design/sprite.png");
  background-position: -36px -54px;
  width: 16px;
  height: 16px;
}
.navigation a.m-user:hover:before {
  background-position: -72px -18px;
  width: 16px;
  height: 16px;
}
.navigation a.m-facebook:before {
  background-image: url("../images/design/sprite.png");
  background-position: 0px -36px;
  width: 16px;
  height: 16px;
}
.navigation a.m-facebook:hover:before {
  background-position: -18px -36px;
  width: 16px;
  height: 16px;
}
.navigation a.m-instagram:before {
  background-image: url("../images/design/sprite.png");
  background-position: 0px -54px;
  width: 16px;
  height: 16px;
}
.navigation a.m-instagram:hover:before {
  background-position: -18px -54px;
  width: 16px;
  height: 16px;
}
.navigation a.m-trash:before {
  background-image: url("../images/design/sprite.png");
  background-position: -72px 0px;
  width: 16px;
  height: 16px;
}
.navigation a.m-trash:hover:before {
  background-position: -54px -54px;
  width: 16px;
  height: 16px;
}
